.app-item {
	border: 1px solid #999999;
	cursor: pointer;
	min-height: 50px;
	padding-left: 3px !important;
	padding-right: 3px !important;
}

.hour-container {
	border: 1px solid #999999;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
}

.day-container {
	background-color: #DDDDDD;
	border: 1px solid #999999;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
}

.app-item-inner {
	height: 40px;
	margin: 2px 0 0 0;
	padding: 2px 2px !important;
	width: 100%;
	white-space: normal !important;
	word-wrap: break-word;
}

.edit-status-option {
	width: 100%;
}

span.hour.disabled {
	display: none;
}

#overlap-app-alert {
	display: none;
}

@media(max-width: 479px) {
	.apps-wrapper {
		overflow: scroll;
	}

	.apps-container {
		width: 300%;
	}
}